body{
    background-color: #3a3a3a;
}
h1{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
h5{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}
video{
    display: block;
    width: 80vw;
}
audio{
    display: block;
    width: 80vw;
}
.script-box{
    height: 200px;
    width: 400px;
    overflow-y: auto;

}

body #celltower{
    background-color: #14241c;
    /* 
    #D2691E <-- an orange that i like, but the below link has a good orange and blue palette
    https://www.w3schools.com/w3css/w3css_color_schemes.asp 
    */
}
.header{
    background-color: #D2691E;
}