body{
    background-color: #3a3a3a;
}
h1{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
h5{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}
video{
    display: block;
    width: 80vw;
}
audio{
    display: block;
    width: 80vw;
}
.script-box{
    height: 200px;
    width: 400px;
    overflow-y: auto;
}
#celltowerBody{
    background-color: #874000;
}
#celltowerBody p{
    color: white;
    font-family:sans-serif;
    font-size:large;
    font-weight: bold;
    padding: 1em;
}
header{
    background-color: #031927;
    float: top;
    width: 100% vw;
    height: 300px;
}
/* 
    #D2691E <-- an orange that i like, but the below link has a good orange and blue palette
    https://www.w3schools.com/w3css/w3css_color_schemes.asp 
    */