body{
    background-color: #3a3a3a;
}
h1{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
h5{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}
video{
    display: block;
    width: 80vw;
}
audio{
    display: block;
    width: 80vw;
}
.script-box{
    height: 160px;
    width: 80px;
    overflow-y: auto;

}